<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_count %>
    <%= form.number_field :player_count %>
  </div>

  <div class="field">
    <%= form.hidden_field :score, value: 0%>
  </div>
  <div class="field">
    <%= form.hidden_field :total_matches, value: 0%>
  </div>

  <div class="field">
    <%= form.hidden_field :wins, value: 0%>
  </div>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
