<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name, required: true ,class: "form-control"%>
  </div>
  <br>

  <div class="field">
    <%= form.label :player_count %>
    <%= form.number_field :player_count ,min: 1, max: 2, required: true, class: "form-control col-sm-5"%>
  </div>

  <div class="field">
    <%= form.hidden_field :score, value: 0%>
  </div>
  <div class="field">
    <%= form.hidden_field :total_matches, value: 0%>
  </div>

  <div class="field">
    <%= form.hidden_field :wins, value: 0%>
  </div>
  <br>

  <div class="actions">
    <%= form.submit "Create Team", class: "btn-sm btn-primary"%>
  </div>
<% end %>
