<p>
<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="col-sm">
<p id="notice"><%= notice %></p>

<p>
  <strong>Player count:</strong>
  <%= @team.player_count %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @team.ranking %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
<%= link_to 'Create Match', new_match_path, class:"btn-sm btn-primary"%>
</p>
<%= link_to 'Edit', edit_team_path(@team),class:"btn-sm btn-secondary" %> |
<%= link_to 'Back', teams_path, class:"btn-sm btn-info"%>
      </div>
    </div>
  </div>
</div>
</p>
