<p id="notice"><%= notice %></p>

<p>
  <strong>Player count:</strong>
  <%= @team.player_count %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @team.ranking %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
