<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :winner_id %>
    <%= form.select(:winner_id, options_for_select(["#{Team.find(@match.team1_id).name}", "#{Team.find(@match.team2_id).name}"], "id")) %>
    <%= form.label :loser_id %>
    <%= form.select(:loser_id, options_for_select(["#{Team.find(@match.team1_id).name}", "#{Team.find(@match.team2_id).name}"], "id")) %>

    <br>
    <%= form.hidden_field :match_id %>

    <%= form.label :score %>
    <%= form.number_field :score, min: 1, max: 10, required: true, class: "form-control col-sm-2" %>

  </div>
  <div class="actions">
    <%= form.submit 'Create Game', class:'btn btn-primary btn-sm'%>
  </div>
<% end %>
