<p id="notice"><%= notice %></p>

<p>
<h3>Winner of the Game</h3>
  <br>
  <%= @game.winner_id %>
</p>

<p>
  <h3>Loser</h3>
  <%= @game.loser_id %>
</p>

<p>
  <h3>Match</h3>
  <br>
  <%= @game.match_id %>
</p>

<p>
  <h3>Score</h3>
  <br>
  <%= @game.score %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
