<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team1_id %>
    <br>
    <%= form.number_field :team1_id, required: true%>
  </div>

  <div class="field">
    <%= form.label :team2_id %>
    <br>
    <%= form.number_field :team2_id , required: true%>
  </div>

  <div class="field">
    <%= form.hidden_field :winning_team_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :games_count, value: 0%>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Create Match", class: "btn-sm btn-primary"%>
  </div>
<% end %>
