<p>
<div class="row">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body">
        <div class="col-sm">
          <p id="notice"><%= notice %></p>

          <p>
          <strong>Team1:</strong>
          <%= Team.find_by(id:@match.team1_id).name %>
          </p>

          <p>
          <strong>Team2:</strong>
          <%= Team.find_by(id:@match.team2_id).name%>
          </p>

          <p>
          <strong>Winning team:</strong>
          <%= Team.find_by(id: @match.winning_team_id).name%>
          </p>

        </div>
      </div>
    </div>


    <h3>Games</h3>
    <%-if @games.exists? %>
      <% @games.each do |game| %> <div>

          <div class="card d-block d-md-flex mt-4">
            <div class=".card-body.text-center.text-md-left.ml-md-3.ml-0">
              <strong>(Winner)
              <%= Team.find_by(id:game.winner_id).name %>
              VS
              <%=Team.find_by(id: game.loser_id).name %>
              (Loser)
              <br>
              Score - 
              <%= game.score %>
              <br>
              </strong>
            </div>
          <% end %>
        <%-else%>

          <div class="media d-block d-md-flex mt-4 form-control">
            <h5> No games.</h5>
          </div>

        <%end%>
          </div>
      </div>
      <%- if @match.winning_team_id.nil? %>
        <p>
          <%= render partial: 'games/form', locals: { game: @game } %>
        </p>
      <%end%>
      <br>
  </div>
      <%= link_to 'Edit', edit_match_path(@match), class:"btn-sm btn-secondary"%> |
      <%= link_to 'Back', matches_path, class:"btn-sm btn-info" %>
</div>
</p>
